{% extends "layout.html" %}
{% block body %}


<h1>Update the information about "{{item.name}}":</h1>

<form action="/restaurant/{{restaurant.id}}/{{item.id}}/edit/", method="POST">
    <input class="input" type="text" size="30" name="name" placeholder="{{item.name}}"> <br>
    <input class="input" type="text" size="30" name="description" placeholder="{{item.description}}"><br>
    <input class="input" type="text" size="30" name="price" placeholder="{{item.price}}"><br>
    <p>Course:</p>
    {%if item.course == "Appetizer":%}
        <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
    {%else:%}
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
    {% endif %}

    {%if item.course == "Entree":%}
    <input type="radio" name="course" value="Entree" checked>Entree<br>
    {%else:%}
        <input type="radio" name="course" value="Entree">Entree<br>
    {% endif %}

    {%if item.course == "Dessert":%}
        <input type="radio" name="course" value="Dessert" checked>Dessert<br>
    {%else:%}
        <input type="radio" name="course" value="Dessert">Dessert<br>
    {% endif %}

    {%if item.course == "Beverage":%}
        <input type="radio" name="course" value="Beverage"checked>Beverage<br>
    {%else:%}
        <input type="radio" name="course" value="Beverage">Beverage<br>
    {% endif %}

    <input class="btn" type="submit" value="Update"><br>
    <a href="/restaurant/{{restaurant.id}}/menu/">Cancel</a>
</form>

{% endblock %}