{% extends "layout.html" %}
{% block body %}
<h1>{{restaurant.name}}´s menu:</h1>

<form action="/{{restaurant.id}}/edit/">
        <button class="btn">Update restaurat name</button>
</form>

<form action="/{{restaurant.id}}/delete/">
        <button class="btn">Delete restaurant</button>
</form>

<form action="/restaurant/{{restaurant.id}}/menu/new/">
        <button class="btn">Add an new menu item</button>
</form>


{%for i in items%}
<div class="menuitem">
        <p><strong>Name:</strong></p>
        <p>{{i.name}}</p>
        <p><strong>Description:</strong></p>
        <p>{{i.description}}</p>
        <p><strong>Price:</strong></p>
        <p>{{i.price}}</p>
        <p><strong>Course:</strong></p>
        <p>{{i.course}}</p>
        <br>
        <form action="/restaurant/new">
                <button class="btn" formaction="/restaurant/{{restaurant.id}}/{{i.id}}/edit/">Edit</button>
                <button class="btn" formaction="/restaurant/{{restaurant.id}}/{{i.id}}/delete/">Delete</button>
        </form>

</div>
{%endfor%}

{% endblock %}