<h1>{{restaurant.name}}´s menu:</h1>
<a href="/{{restaurant.id}}/edit/">Update restaurat name</a>
<br>
<a href="/{{restaurant.id}}/delete/">Delete restaurant </a>
<br>
<a href="/restaurant/{{restaurant.id}}/menu/new/">Add an new menu item</a>
{%for i in items%}
<div>
        <br>
        <p>Name:</p>
        <p>{{i.name}}</p>
        <p>Description:</p>
        <p>{{i.description}}</p>
        <p>Price:</p>
        <p>{{i.price}}</p>
        <p>Course:</p>
        <p>{{i.course}}</p>
        <br>
        <a href="/restaurant/{{restaurant.id}}/{{i.id}}/edit/">Edit</a>
        <br>
        <a href="/restaurant/{{restaurant.id}}/{{i.id}}/delete/">Delete</a>
        <br>
</div>
{%endfor%}
